# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtualenvs
.env
.venv/
env/
venv/

# Jupyter / editors
.ipynb_checkpoints
.vscode/
.idea/

# Logs and artifacts
logs/
*.log
mlflow_tracking/
models/
data/interim/
data/processed/

# DVC
.dvc/cache/

# OS
.DS_Store
Thumbs.db
